{% extends "base.html" %}

{% block content %}
<div class="container w-50">
    <div class="text-center">
        {% if form.errors %}
            <p class="text-warning mb-3">Your username and password didn't match! Please try again.</p>
        {% endif %}

        <form method="post" action="{% url "login"%}">
            {% csrf_token %}
            <div class="row mb-3">
                <div class="col-2">{{ form.username.label_tag }}</div>
                <div class="col-10">{{ form.username }}</div>
            </div>
            <div class="row mb-3">
                <div class="col-2">{{ form.password.label_tag }}</div>
                <div class="col-10">{{ form.password }}</div>
            </div>
            <div class="d-flex flex-row-reverse">
                <input class="btn btn-primary" type="submit" value="Login">
            </div>
            <input type="hidden" name="next" value="{% url "feed" %}">
        </form>
    </div>
</div>
{% endblock %}